<%= form_for @user,url:{action: :create} do |f| %>
    <%= label_tag :uid,'ユーザーID' %>
    <%= text_field_tag :uid %>
    <%= label_tag :pass,'パスワード'%>
    <%= password_field_tag :pass %>
    <%= submit_tag '新規追加' %>
<% end %>